/* variables declared here - these are the colors for our pages, as well as the font stacks and sizes. */
:root {
  --black: #171321;
  --dkblue: #0d314b;
  --plum: #4b0d49;
  --hotmag: #ff17e4;
  --magenta: #e310cb;
  --aqua: #86fbfb;
  --white: #f7f8fa;
  --font-size: 1.3rem;
  --mono: "Oxygen mono", monospace;
  --sans: Oxygen, sans-serif;
}

/* border box model: https://css-tricks.com/box-sizing/ */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* generic styles for the page */
body {
  padding: 0;
  margin: 0;
  font-family: var(--sans);
  background-color: var(--plum);
  /* this refer to the ::root that we have setUp */
  color: var(--white);
  font-size: var(--font-size);
}

h1,
h2,
h3 {
  margin: 0;
}

a {
  color: var(--magenta);
}
a:hover {
  color: var(--hotmag);
  text-decoration: none;
}

/* intro styles: specific styles */

#intro {
  padding-bottom: 10rem;
}

#intro p {
  font-size: 1rem;
  /* this line height its in proportion */
  line-height: 1.5;
}

#intro .name {
  font-family: var(--mono);
  font-size: 1rem;
}

.name span {
  font-family: var(--sans);
  font-size: 4rem;
  color: var(--aqua);
  display: block;
  font-weight: 300;
}

#intro h2 {
  font-size: 4rem;
  /* get the font from google */
  font-weight: normal;
}

/* this is the contact section */
#contact {
  width: 400px;
  text-align: center;
  margin: 0 auto;
  padding: 3rem 0rem;
  background-color: plum;
}

/* pseudo Class of the last child */
#contact p:last-child {
  margin-top: 3rem;
}

/* The navigation bar */

nav {
  font-family: var(--mono);
  font-size: 80%;
  padding: 1rem;
}

mav h1 a {
  font-family: var(--sans);
}

/* ul li by default have padding / margin depend by browser */
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  align-items: center;
  gap: 2rem;
}

/* styling the links */

/* flex-basis: 100% no matter what, all li go elsewhere */
nav li:first-child {
  flex-basis: 100%;
  text-align: center;
  border: 1px solid rgb(43, 255, 0);
}
/* font awesome - attribute selector -> look 1 of attribute of html tag */

nav [class*="fa-"] {
  font-size: 150%;
  color: var(--aqua);
}

nav h1 [class*="fa-"] {
  font-size: 100%;
  color: var(--aqua);
}

nav a {
  color: white;
  text-decoration: none;
  display: block;
}

nav a:hover {
  color: var(--magenta);
}

nav a:hover,
nav [class*="fa-"]:hover {
  color: var(--magenta);
}
